https://sites.radford.edu/~biol-web/stats/standarderrorcalc.pdf

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (12,8)

In [1]:
cd C:\Users\david\STATISTIQUES\Introduction to Statistical Learning\data

C:\Users\david\STATISTIQUES\Introduction to Statistical Learning\data

In [2]:
pwd

'C:\\Users\\david\\STATISTIQUES\\Introduction to Statistical Learning\\data'

In [5]:
df_car = pd.read_csv('auto.csv')
df_car.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [13]:
df = df_car[['mpg', 'horsepower']]
df.head()

    mpg  horsepower
0  18.0         130
1  15.0         165
2  18.0         150
3  16.0         150
4  17.0         140

In [14]:
mpg_mean = df.mpg.mean()
horsepower_mean = df.horsepower.mean()

In [15]:
deviation_mpg = df.mpg - mpg_mean
deviation_horsepower = df.horsepower - horsepower_mean

In [16]:
square_deviation_mpg = deviation_mpg**2
square_deviation_horsepower = deviation_horsepower**2

In [17]:
sum_square_deviation_mpg = np.sum(square_deviation_mpg)
sum_square_deviation_horsepower = np.sum(square_deviation_horsepower)

In [18]:
divid_mpg = sum_square_deviation_mpg / (len(df) - 1)
divid_horsepower = sum_square_deviation_horsepower / (len(df) - 1)

In [19]:
mpg_std = np.sqrt(divid_mpg)
horsepower_std = np.sqrt(divid_horsepower)

In [21]:
standard_error_mpg = mpg_std / np.sqrt(len(df))
standard_error_horsepower = horsepower_std / np.sqrt(len(df))

In [22]:
standard_error_mpg, standard_error_horsepower

(0.3942124086404778, 1.9440971574456398)

In [23]:
mean_standard_error_mpg = (mpg_mean - standard_error_mpg, mpg_mean + standard_error_mpg)
mean_standard_error_horsepower = (horsepower_mean - standard_error_horsepower, horsepower_mean + standard_error_horsepower)

mean_standard_error_mpg, mean_standard_error_horsepower

((23.051705958706464, 23.84013077598742),
 (102.52529059765641, 106.41348491254769))

In [24]:
import statsmodels.formula.api as smf

In [25]:
res = smf.ols(f'mpg ~ horsepower', data=df).fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.606
Model:                            OLS   Adj. R-squared:                  0.605
Method:                 Least Squares   F-statistic:                     599.7
Date:                Wed, 01 Jun 2022   Prob (F-statistic):           7.03e-81
Time:                        13:04:04   Log-Likelihood:                -1178.7
No. Observations:                 392   AIC:                             2361.
Df Residuals:                     390   BIC:                             2369.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     39.9359      0.717     55.660      0.000      38.525      41.347
horsepower    -0.1578      0.006    -24.489      0.000      -0.171      -0.145
==============================================================================
Omnibus:                       16.432   Durbin-Watson:                   0.920
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.305
Skew:                           0.492   Prob(JB):                     0.000175
Kurtosis:                       3.299   Cond. No.                         322.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [27]:
intercept, beta_1 = res.params[0], res.params[1]

In [29]:
intercept, beta_1

(39.935861021170474, -0.15784473335365357)

In [32]:
y = df.mpg
y_pred = intercept + beta_1 * df['horsepower']

In [35]:
standard_error_coef = (beta_1 * df['horsepower']).std() /  np.sqrt(len(df))
standard_error_mean =

0.3068654974306026